@page
@model ResumeProject.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
}

<h1 class="center">Welcome to ResumeProject</h1>
<p>
    
</p>

<p>
    To get started, please <a href="/Pages/Register.cshtml">register</a> or <a href="/Pages/LogIn.cshtml">log in</a>.
</p>
