@page
@using System.Globalization
@model ResumeProject.Pages.Comments.GetAllCommentsModel
@{
    ViewData["Title"] = "Comments";
}

@section Styles
{
    <link rel="stylesheet" href="~/CSS/comments.css" asp-append-version="true">
}


<h2>Comments</h2>

@if(Model.AllComments is not null)
{
    <div class="comments-container">
        @foreach(var comment in Model.AllComments)
        {
            <ul>
                <li class="white-font">
                    @comment.FirstName @comment.LastName
                </li>

                <li class="white-background black-font center-font">
                    @comment.Text
                </li>

                <li class="white-font">
                    @comment.CreatedAt.ToString("dd-MM-yyyy HH:mm:ss")
                </li>
            </ul>
        }
    </div>
}
else
{
    <p>No Comments posted yet</p>
}