@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Security.Claims

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewData["Title"] - Resume Web Application</title>
        <link rel="stylesheet" href="~/navClass.css" asp-append-version="true">
        @RenderSection("Styles", required: false) 
    </head>
    <body>
        <header>
            <nav class="nav-container">
                <ul class="nav-list">

                    <li class="nav-item">
                        <a href="/">Home</a>
                    </li>
                    @if(User.Identity is not null && User.Identity.IsAuthenticated)
                    {
                        var firstName = User.FindFirst("FirstName")?.Value;
                        var lastName = User.FindFirst("LastName")?.Value;
                        var fullName = (!string.IsNullOrEmpty(firstName) && !string.IsNullOrEmpty(lastName)) ? $"{firstName} {lastName}" : User.Identity.Name;
                        <li class="color-white">
                            @fullName
                        </li>

                        <li class="nav-item">
                            <a href="/Account/MyProfile">Profile</a>
                        </li>

                        <li class="nav-item">
                            <a href="/Account/Update">Update Info</a>
                        </li>

                        <li class="button-align">
                            <form method="post" asp-page="/Account/Logout">
                                <button type="submit">Log Out</button> 
                            </form>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item dropdown">
                                <a href="">Account</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/Account/Register">Register</a>
                                    </li>

                                    <li>
                                        <a href="/Account/Login">Login</a>    
                                    </li>
                                </ul>
                        </li>
                    }
                </ul>   
            </nav>
        </header>
        
        <main class="container">
            @RenderBody()
        </main>

        <footer>
            
        </footer>
    </body>
</html>