@{
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewData["Title"] - Resume Web Application</title>
        <link rel="stylesheet" href="~/wwwroot.styles.css">
    </head>
    <body>
        <header>
            <nav class="navbar">
                <div>
                    <a href="/Account/Register">Register</a>
                </div>

                <div>
                    <a href="/Account/Login">Login</a>
                </div>
            </nav>
        </header>
        
        <main>
            @RenderBody()
        </main>

        <footer>
            
        </footer>
    </body>
</html>