@page
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model ResumeProject.Pages.Account.LoginModel

@{
    ViewData["Title"] = "Login";
}

@section Styles
{
    <link rel="stylesheet" href="~/CSS/buttonClass.css" asp-append-version="true">
    <link rel="stylesheet" href="~/CSS/formClass.css" asp-append-version="true">
}

<h2 style="display:block flex; justify-content: center;">Login</h2>

<form method="post" class="center-form">
    <div>
        <ul>
            <li>
                <label>Email</label>
            </li>
            <li>
                <input type="email" asp-for="Input.Email" required />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </li>
        </ul>

        <ul>
            <li>
                <label>Password</label>
            </li>
            <li>
                <input type="password" asp-for="Input.Password" required />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </li>
        </ul>

        <ul>
            <li>
                Remember Me<input type="checkbox" asp-for="Input.RememberMe" />
         </li>
        </ul>
    </div>

    <div class="button-align">
        <ul>
            <li>
                <button type="submit">Sign In</button>
            </li>

            <li>
                <button type="button" onclick="widnow.location.href='/Index'">Cancel</button>
            </li>
        </ul>
    </div>
</form>