@page
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model ResumeProject.Pages.Account.UpdateModel

@{
    ViewData["Tilte"] = "Update";
}

@section Styles
{
    <link rel="stylesheet" href="~/styles.css" asp-append-version="true">
}


<h2>Update Info</h2>

<form method="post" class="center-from">
    <div>
        <label>Email:</label>
        <input type="email" asp-for="UpdateDto.Email" />
        <span asp-validation-for="UpdateDto.Email" class="text-danger"></span>
    </div>

    <div>
        <label>First Name:</label>
        <input asp-for="UpdateDto.FirstName" />
        <span asp-validation-for="UpdateDto.FirstName" class="text-danger"></span>
    </div>

    <div>
        <label>Last Name:</label>
        <input asp-for="UpdateDto.LastName" />
        <span asp-validation-for="UpdateDto.LastName" class="text-danger"></span>
    </div>

    <div>
        <label>Phone Number</label>
        <input asp-for="UpdateDto.PhoneNumber" />
        <span asp-validation-for="UpdateDto.PhoneNumber" class="text-danger"></span>
    </div>

    <div class="button-align">
        <ul>
            <li>
                <button type="submit">Update</button>
            </li>

            <li>
                <button type="button" onclick="widnow.location.href='/Index'">Cancel</button>
            </li>
        </ul>
    </div>
</form>

<div>
    @if (!ModelState.IsValid)
    {
        <div>
            <ul>
                @foreach (var error in ModelState.Values.SelectMany(v => v.Errors))
                {
                    <li>@error.ErrorMessage</li>
                }
            </ul>
        </div>
    }
</div>