/* General Button Styling */
.button-align button{
    font-weight: 200;
    background-color: #991B1B;
    color: #E5E7EB; /* Accent Color */
    border: none;
    padding: 7px 15px;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Button hover Effect */
.button-align button:hover{
    background-color: rgba(255, 255, 255, 0.1);
    color: #F3F4F6;
}

/* Special Button for Danger Actions (e.g., Delete) */
.button-align .danger{
    color: #F3F4F6;
}

.button-align .danger:hover {
    background-color: #D32F2F;
}