/* Style for the Setting hover effect with gear icon */
.gear-icon{
    display: inline-block;
    font-size: 27px;
    transition: transform 0.3s ease;
    margin: 10px ;
}

.gear-dropdown{
    position: relative;
}

.gear-dropdown p{
    cursor: pointer;
    color: #E5E7EB;
    text-decoration: none;
    font-weight: 600;
    border-radius: 8px;
    margin: 5px;
    padding: 10px;
    transition: color 0.3s ease;
}

.gear-dropdown-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 80%;
    left: -50%;
    background-color: #991B1B;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 10px 0;
    width: 150px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(-10px);
}

.gear-dropdown-menu li{
    padding: 8px 15px;
}

.gear-dropdown-menu li a{
    text-decoration: none;
    color: #E5E7EB;
    transition: all 0.3s ease;
}

.gear-dropdown-menu li a:hover{
    color: #F3F4F6;
    background-color: rgba(255, 255, 255, 0.1);
}

.gear-dropdown-menu.open{
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}