@{
    Layout = "_Layout";
}
@using Microsoft.AspNetCore.Identity
@using ResumeProject.Controllers
@inject AccountController AccountController

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My MVC Application</title>
        <link href="~/styles.css" rel="stylesheet">
    </head>
    using Microsoft.AspNetCore.Identity;
#line default
    <header>
            <nav class="navbar">
                <div>
                <a href="/">Home</a>
                </div>

                <div>
                    @if(AccountController.IsLoggedIn())
                    {
                        <p>Hello, @AccountController.GetUsersName()!</p>
                        <a asp-page="/User/Logout">Logout</a>
                    }
                    else
                    {
                        <a asp-page="/User/Login">Login</a>
                        <a asp-page="/User/Register">Register</a>
                    }
                </div>
            </nav>
        </header>
    </body>
</html>